<html>
   <head>
    <meta charset="utf-8">
    <title>Robot App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   </head>
   
   <body>
      
      <form action = "/status" method = "get">
         <p>Test the state of your Robot:</p>
         <p><input type = "submit" value = "State" /></p>
      </form>

      <form action = "/run" method = "get">
         <p>Execute your Robot App:</p>
         <p><input type = "submit" value = "Run"></p>
      </form> 
   
    </body>
</html>
